#titulo  {CONFIGURARTE
    text-align: center;
    font-size: 30px;
    color: rgb(162, 20, 20)
    
}
         
.titulo {PRODUÇÕES EM ARTE
    text-align: center;
    color: red;
    font-size: 20px;
}
         body {
    background-color:#FFC0CB;
}
#banner {arte
    width: 40%;
    margin:20px;
    padding: 5px;
}

#titulo{
    text-align: center;
    font-size: 30px;
    color: rgb(63, 3, 43)
}
.texto {
    text-align: center;
    color: rgb(188, 10, 108);
    font-size: 20px;
}
